Checks: '*,
-modernize-use-trailing-return-type, 


-altera-unroll-loops,


-cppcoreguidelines-pro-type-union-access,


-hicpp-move-const-arg,performance-move-const-arg,


-performance-move-const-arg,


-cert-int09-c,
-cert-dcl58-cpp,


-clang-diagnostic-pragma-once-outside-header, 
-clang-diagnostic-unused-macro,
-clang-diagnostic-pre-c++20-compat,
-clang-diagnostic-pre-c++17-compat,
-clang-diagnostic-c++98-compat-pedantic,
-clang-diagnostic-c++98-compat,
-clang-diagnostic-pre-c++14-compat,
-clang-diagnostic-covered-switch-default, 
-clang-diagnostic-c++98-compat-local-type-template-args,


-readability-enum-initial-value,
-readability-convert-member-functions-to-static,


-llvmlibc-restrict-system-libc-headers,
-llvmlibc-inline-function-decl,
-llvmlibc-callee-namespace,
-llvmlibc-implementation-in-namespace,


-misc-use-anonymous-namespace,
-misc-no-recursion,
-misc-include-cleaner,
-misc-unused-parameters,

-concurrency-mt-unsafe,


-fuchsia-overloaded-operator,
-fuchsia-default-arguments-calls,
-fuchsia-default-arguments-declarations'

HeaderFilterRegex: 'C:\Users\leo08\source\repos\X86_64_EMU_SOFT\*'

