Checks: '*,
-modernize-use-trailing-return-type, 


-bugprone-easily-swappable-parameters,

-altera-unroll-loops,
-altera-struct-pack-align,
-altera-id-dependent-backward-branch,


-cppcoreguidelines-pro-type-union-access,
-cppcoreguidelines-avoid-magic-numbers,
-cppcoreguidelines-pro-bounds-constant-array-index,
-cppcoreguidelines-pro-type-static-cast-downcast,


-hicpp-move-const-arg,performance-move-const-arg,


-performance-move-const-arg,


-cert-int09-c,
-cert-dcl58-cpp,


-clang-diagnostic-pragma-once-outside-header, 
-clang-diagnostic-unused-macro,
-clang-diagnostic-pre-c++20-compat,
-clang-diagnostic-pre-c++17-compat,
-clang-diagnostic-c++98-compat-pedantic,
-clang-diagnostic-c++98-compat,
-clang-diagnostic-pre-c++14-compat,
-clang-diagnostic-covered-switch-default, 
-clang-diagnostic-c++98-compat-local-type-template-args,
-clang-diagnostic-pre-c++23-cpmpat,
-clang-diagnostic-c++98-c++11-compat-binary-literal,
-clang-diagnostic-pre-c++20-compat-pedantic


-readability-enum-initial-value,
-readability-implicit-bool-conversion,
-readability-convert-member-functions-to-static,
-readability-magic-numbers,
-readability-identifier-length,


-llvmlibc-restrict-system-libc-headers,
-llvmlibc-inline-function-decl,
-llvmlibc-callee-namespace,
-llvmlibc-implementation-in-namespace,
-llvm-include-order,

-misc-use-anonymous-namespace,
-misc-no-recursion,
-misc-include-cleaner,
-misc-unused-parameters,
-misc-use-internal-linkage,


-concurrency-mt-unsafe,


-fuchsia-overloaded-operator,
-fuchsia-default-arguments-calls,
-fuchsia-default-arguments-declarations'

HeaderFilterRegex: '*'

